example_figs/
*.Rproj.user
.Rbuildignore
metaDigitise.Rproj
.Rproj.user
sim_figs.R
testing-script.R
find_nearest_point.R
docs/sim_figs/figs*
docs/sim_figs/.dropbox
docs/sim_figs
docs/images2/data.csv
docs/MEE_submission/manuscript_MEE.bbl
docs/MEE_submission/manuscript_MEE.blg
docs/MEE_submission/manuscript_MEE.fdb_latexmk
docs/MEE_submission/manuscript_MEE.fls
docs/MEE_submission/manuscript_MEE.log
docs/MEE_submission/manuscript_MEE.aux
docs/MEE_submission/manuscript_MEE.synctex.gz
docs/MEE_submission/supplements.bbl
docs/MEE_submission/supplements.blg
docs/MEE_submission/supplements.fdb_latexmk
docs/MEE_submission/supplements.fls
docs/MEE_submission/supplements.log
docs/MEE_submission/supplements.aux
docs/MEE_submission/supplements.synctex.gz
docs/MEE_submission/supplements.toc
docs/MEE_submission/supplements.out
MEE_revision
